$primary-color-dark: #042362;
$primary-color: #325594;
$secondary-color: #0EA4DF;
$subtle-dark-color: #445A87;
$subtle-light-color: #EDF1F4;

html {
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #F3F5F9;

    color: #405079;
    font-family: "Ariel", sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body.inner {
    background: #F3F5F9;
    background: url("bg.png");
    background-repeat: no-repeat;
    background-position: center center;

}

main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 1800px;
    margin:0 auto;
    overflow: auto;
}

.row {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.col-4 {
    /* width: 33.33333%; */
    width: calc(100% / 3);
}

.col-8 {
    /* width: 33.33333%; */
    width: calc(100% /1.5);
}

.core {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#total {
    font-size: 2rem;
    color: #556284;
}

.reaction {
    margin-top: -12px;
    max-width: 332px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background: #042362;
    border-radius: 8px;
    color: #fff;
    /* padding: 1.4rem; */
    margin-top: 1rem;
    align-items: center;
    height: 68px;
}

.logo {
    display: flex;
    margin-left: 1rem;
}

.hero {
    margin-top: 2rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
}

.insights {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
}

.card {
    display: flex;
    flex-grow: 1;
    margin-top: 2rem;
    padding: 1.4rem;
    background: #fff;
    border-radius: 4px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #556284;
    border: 1px solid #f3f5f9;    min-height: 90px;
}

.breadcrumb ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    margin-bottom: 2rem;
    padding: 0rem 2rem;
    background: rgba(255, 255, 255, .5);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #f3f5f9;
    height: 48px;
}

.breadcrumb ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.breadcrumb ul li:first-child {
    font-weight: 700;
}

.breadcrumb ul li:first-child::after {
    content: "::";
    margin-left: 1rem;
    margin-right: 1rem;
}

.breadcrumb ul>li>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    color: #556284;
    text-decoration: none;
}

a {
    color: #f2ebc4;
    text-decoration: none;
}

h1 {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0px;
    padding-top: 0px;
}

h2 {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

h3 {
    color: $primary-color-dark;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 3rem;    font-weight: 100;
}

h4 {
    color: #556284;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

h6 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #556284;
    margin: 1rem 0;
}

p {
    color: #556284;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn {

    padding: .5rem 2rem;
    border-radius: 3rem;
    display: inline-block;
    height: 48px;
    font-weight: 700;

}

.btn-primary {
    background: $primary-color ;
    margin-top: 2rem;
    margin-right: 1rem;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.btn-primary:hover {
    background: #325594;

    color: #ffffff;
}

.btn-secondary {
    background: #0EA4DF;
    margin-top: 2rem;
    margin-right: 1rem;
    color: #ffffff;
}

.btn-link {
    color: #556284;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0rem 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;

    background: #EBECF2;
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #f3f5f9;
    height: 48px;
    width: 48px;
    justify-content: center;
}

.secondary-menu {
    display: flex;

}

.profile {
    display: flex;
    border-radius: 0px 8px 8px 0px;
    background: #3AA7F1;

    height: 68px;
    width: 68px;
    justify-content: center;
    align-items: center;
}

.help {
    display: flex;
    border-radius: 0px;
    background: #325594;

    height: 68px;
    width: 68px;
    justify-content: center;
    align-items: center;
}



#status {
    display: inline-block;
}

.tag {
    background: #EBECF2;
    color: #333;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 60px;
    display: inline-block;
    height: 48px;
}

.tag.success {
    background: #A3F49E;
    color: #307B49;
    // border: 1px solid #447300;
    display: flex;
    align-items: center;
}

.tag.failure {
    background: #e38ca9;
    color: #6b0624;
    display: flex;
    align-items: center;
}

#dot {
    background: #666;

}



.tag.success #dot {
    background: #307B49;

    border: 4px solid #A3F49E;
}

.tag.failure #dot {
    background: #6b0624;


}

/* RESET */




.stat {
    font-size: 1em;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: row;
    min-width: 260px;    align-items: center;
}

.value {
    font-weight: bold;
    color: #556284;
    font-size: 2rem;
    padding: 1rem 0;
    border-radius: 8px;
    height: 1rem;

    display: flex;
    // justify-content: center;
    flex-direction: column;
}

.status-dot {
    height: 10px;
    width: 10px;
    background-color: #556284;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

input,
select {
    height: 48px;
}

input[type="text"] ,input[type="number"]    
{
    padding: 0 6px;
    border-radius: 6px;
    border: 1px solid #f3f5f9;
}

input[type="select"],
select {
    padding: 0 6px;
    border-radius: 6px;
    border: 1px solid #f3f5f9;
}

form {
    max-width: 768px;
}

label {
    font-size: .8rem;
    color: #9d9d9d;
    font-weight: 600;
}

@media (max-width: 678px) {
    .container {
        width: 98%;
    }
}

.projects-grid {
 display: grid;
  /* Creates 3 columns, each taking up 1/3 of the available space */
  grid-template-columns: 1fr 1fr 1fr;
  /* Creates 3 rows, each taking up 1/3 of the available space */
  grid-template-rows: 1fr 1fr 1fr;
  /* Alternatively, use the repeat() function for a more concise way: */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 1rem; /* Adds space between the grid items */
 
}

.project-card {
    flex: 1 0 25%;

    margin-top: 2rem;
    padding: 1rem;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
    min-height: 180px;    display: flex;
    flex-direction: column;
    justify-content: end;
}

.core div svg {
    opacity: 0;


}

.core.react div:first-child svg:first-child,
.core.react div:first-child svg:last-child {

    animation: fadeSlide .5s ease forwards infinite;


}

.core.react div:last-child svg:last-child,
.core.react div:last-child svg:first-child {

    animation: fadeSlidee .5s ease forwards infinite;


}

.core.react div:first-child svg:first-child,
.core.react div:last-child svg:last-child {
    animation-delay: .25s;
}

.core.react div:first-child svg:last-child,
.core.react div:last-child svg:first-child {
    animation-delay: .5s;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        translate: -120px 0px;
    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }
}




@keyframes fadeSlidee {
    0% {
        opacity: 0;
        translate: 120px 0px;
    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }
}

.flow-action {
    display: flex;
    align-items: center;
}


.meta-summary p {
    color: #c1c3d1;
}

.flow-action svg {
    margin-top: -132px;
}

.card.stat small {
    color: #b1b1b1;
}

.graph {
    height: 80px;
}

.meta-summary {
    position: fixed;
    top: 320px;
}

.col-4 strong img {
    margin-right: 1rem;
}

.col-4 strong {
    display: flex;
    align-items: center;
}

#logs {


    align-items: flex-start;

}

.list {
    // background: $subtle-light-color;
    background: #fff;
     display: flex;
    flex-grow: 1;
 
    padding: 1.4rem;
 
    border-radius: 4px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #556284;
    border: 1px solid #f3f5f9;    min-height: 90px;
}

#t img {
    width: 24px;    margin-right: 8px;
}

#t {
    // flex-direction: row;
    // align-items: center;
}
#t div {
    display: flex;justify-content: space-between;
    flex-grow: 1;
}.content {
    flex-grow: 1;
}